.nav {
  list-style: none;
  margin-top: 0;
  margin-left: 0;
  padding-left: 0;
}

// Change the extender name to something else
.nav--inline {
  // Change the breakpoint to when you want your nav to be inline
  @include breakpoint(medium) {
    > li {
      display: inline-block;
    }

    a {
      display: inline-block;
    }
  }
}