.l-stacked {
  @extend %no-bullets;
}

.l-inline {
  > li {
    display: inline-block;
  }

  a {
    display: inline-block;
  }
}

// Repsonsive
.r-inline {
  // Change the breakpoint to when you want your list items to be inline
  @include breakpoint(small) {
    > li {
      display: inline-block;
    }

    a {
      display: inline-block;
    }
  }
}