@import 'normalize';

/* Fonts
   ========================================================================== */
   
html, button, input, select, textarea {

}

/* Defaults
   ========================================================================== */

body {
  font-size: 1em;
  line-height: 1.5;
}

::-moz-selection {
  @include selection();
}

::selection {
  @include selection();
}

img {
  vertical-align: middle;
}

/* Forms
   ========================================================================== */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}