%ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  &::before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
  } 
}

%clearfix {
  &::before,
  &::after {
    content: "";
    display: table;
  }
  &::after {
    clear: both;
  }
}

%no-bullets {
  list-style: none;
  margin-top: 0;
  margin-left: 0;
  padding-left: 0;
}