// Px to em sizing 
@function em($size, $context: $base-font-size) {
  @return ($size / $context) + em;
}

// Px to rem sixing
@function rem($size, $context: $base-font-size) {
  @return ($size / $context) + rem;
}

// Px to rem sizing with px fallout
@mixin font-size($size) {
  font-size: $size + px;
  font-size: ($size / $base-font-size) + rem;
}

// Selection
@mixin selection() {
  background: #b3d4fc;
  text-shadow: none;
}

// Placeholder
@mixin placeholder() {
  color: #999;
}

// Breakpoints
@mixin respond-to($screen) {

  @if $screen == small{
    @media only screen and (min-width: $small) {
      @content;
    }
  }
  @else if $screen == medium {
    @media only screen and (min-width: $medium) {
      @content;
    }
  }
  @else if $screen == big {
    @media only screen and (min-width: $big) {
      @content;
    }
  }

}